<h1>業種を入力する＞<%= link_to @record.company_name,record_path(@record)%>＞<%=@record.business_partner%></h1>
<div class="bp-detail-body">
  <div class="bp-detail-left">

<ul>
  <li>
    <span class="hover-trigger" data-toggle="details-<%= @record.id %>">
     <h1><%= @record.business_partner %></h1>
    </span>
    <div id="details-<%= @record.id %>" class="details" style="display: none;">
      <p>・Founded Year: <%= @record.founded_year %></p>
      <p>・Total funding: <%= @record.total_funding %></p>
      <p>・All investors: <%= @record.all_investors %></p>
      <p>・Latest Funding date: <%= @record.latest_funding_date %></p>
      <p>・Latest Funding round: <%= @record.latest_funding_round %></p>
      <p>・Latest Funding investors: <%= @record.latest_funding_investors %></p>
      <p>・Latest Valuation: <%= @record.latest_valuation %></p>
      <p>・Exit date: <%= @record.exit_date %></p>
      <p>・Acquirers: <%= @record.acquirers %></p>
    </div>
  </li>
</ul>



<% url = @record.url.start_with?('http://', 'https://') ? @record.url : "http://#{@record.url}" %>
<%= link_to @record.url,  url, target: "_blank" %><br><br>
   <p><%= @record.article_date %></p>
   <%= @record.city %>,<%= @record.country %> <br>
   <%= @record.sub_industry %>(Sub-industry)<br><br>
<h3 id="show-description" data-description="<%= @record.business_description %>">▶️ For more description</h3>
<h3 id="show-summary" data-summary="<%= @record.article_summary %>">▶️ Article Summary</h3>

 </div>
 
 <div class="bp-detail-right">
   <div class="description-content">
    <%= @record.description %>
   </div>

   <div class="comment-box">
    <div class="comment123">
      <div class="comment1">
        <%= @record.comment1%> 
      </div>
      <div class="comment2">
        <%= @record.comment2%> 
      </div>
      <div class="comment3">
        <%= @record.comment3%> 
      </div>
          <%= link_to 'Edit', edit_record_path(@record), class: 'btn btn-edit' %>
    </div>
<div class="comment4">
  <h4>note by Sozo members</h4>
    <p><%= @record.comment4 %></p>
    </div>




   <div class="comment-write">
   </div>
 </div>
 </div>



</div>

<div class="more-description">
</div>
