<h6><%=@record.company_industry%>＞<%= link_to @record.company_name,record_path(@record)%>＞<%=@record.business_partner%></h6>
<div class="previous-next">
   <% if @previous_record %>
     <%= link_to "　◀︎　", partner_details_record_path(@previous_record), data: { turbo: false } %>
   <% end %>
   <% if @next_record %>
     <%= link_to "　▶︎　", partner_details_record_path(@next_record), data: { turbo: false } %>
   <% end %>
</div>

<div class="bp-detail-body">

  <div class="bp-detail-left">

<ul>
  <li>
    <span class="hover-trigger" data-toggle="details-<%= @record.id %>">
     <h1><%= @record.business_partner %></h1>
    </span>
    <div id="details-<%= @record.id %>" class="details" style="display: none;">
      <p>・Founded Year: <%= @record.founded_year %></p>
      <p>・Total funding: <%= @record.total_funding %></p>
      <p>・All investors: <%= @record.all_investors %></p>
      <p>・Latest Funding date: <%= @record.latest_funding_date %></p>
      <p>・Latest Funding round: <%= @record.latest_funding_round %></p>
      <p>・Latest Funding investors: <%= @record.latest_funding_investors %></p>
      <p>・Latest Valuation: <%= @record.latest_valuation %></p>
      <p>・Exit date: <%= @record.exit_date %></p>
      <p>・Acquirers: <%= @record.acquirers %></p>
    </div>
  </li>
</ul>



<% url = @record.url.start_with?('http://', 'https://') ? @record.url : "http://#{@record.url}" %>
<%= link_to @record.url,  url, target: "_blank" %><br><br>
   <p><%= @record.article_date %></p>
   <%= @record.city %>,<%= @record.country %> <br>
   <%= @record.sub_industry %>(Sub-industry)<br><br>
<h3 id="show-description" data-description="<%= @record.business_description %>">▶️ For more description</h3>
<h3 id="show-summary" data-summary="<%= @record.article_summary %>">▶️ Article Summary</h3>

<%= link_to @record.url,  url, target: "_blank" %><br><br>
<button id="fetch-info-btn" data-url="<%= @record.url %>">Fetch New Info</button>
<br><br>
 </div>
 
 <div class="bp-detail-right">
   <div class="description-content">
    <%= @record.description %>
   </div>

<%= form_for @record, html: { id: 'edit-comment-form', style: 'display: none;' } do |f| %>
  <div class="comment-box">
    <div class="comment123">
      <div class="comment1">
        <%= f.text_area :comment1 %>
      </div>
      <div class="comment2">
        <%= f.text_area :comment2 %>
      </div>
      <div class="comment3">
        <%= f.text_area :comment3 %>
      </div>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>
    <div class="comment4">
      <%= f.text_area :comment4 %>
    </div>
  </div>
<% end %>

<div class="comment-box view-mode">
  <div class="comment123">
    <div class="comment1">
      <p><%= @record.comment1%></p>
    </div>
    <div class="comment2">
      <p><%= @record.comment2%></p>
    </div>
    <div class="comment3">
      <p><%= @record.comment3%></p>
    </div>
<button class="btn btn-edit">Edit</button>
  </div>
  <div class="comment4">
    <p><%= @record.comment4 %></p>
  </div>
</div>

</div>
</div>
<div class="more-description">
</div>
