<!DOCTYPE html>
<html>
  <head>
    <title>OpenInnovationDatabase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  </head>

  <body>
      <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Open Innobation Database</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
          <span><%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "My Page", "/users/#{current_user.id}" %>
                <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
              </li>
            </ul>
          </span>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "Log in", new_user_session_path, class: "btn-user" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn-user signup " %>
          </div>
        <% end %>
      </div>
      
    </header>

    <%= yield %>
  </body>
</html>
