<!DOCTYPE html>
<html>
  <head>
    <title>OpenInnovationDatabase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

  </head>

  <body>
      <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Open Innovation Database</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <ul class="user__info">
              <li>
              <% if current_user.approved? || current_user.admin? %>
<%= link_to image_tag('dl.png', alt: 'csv Download'), download_page_records_path, class: "btn-icon"  %>

              <%end %>



              <%if current_user.admin?%>
              <%= link_to image_tag('key.png', alt: 'Admin'),users_path , class: "btn-icon" %>
              <%end%>
              <%= link_to image_tag('logout.png', alt: 'Log out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-icon" %>
              </li>
            </ul>
          </span>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to image_tag('login.png', alt: 'Log in'), new_user_session_path, class: "btn-icon" %>
            <%= link_to "Sign up", new_user_registration_path, class: "btn-user signup" %>
          </div>
        <% end %>
      </div>

    </header>
      <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, class: name %>
      <% end %>

    <%= yield %>
  </body>
</html>
